<!-- SEÇÃO HEADER -->
<header class="p-3 bg-primary text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">inicio</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Perguntas frequentes</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Características sobre a nota</a></li>
          <li><a href="#" class="nav-link px-2 text-white">benefícios</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-warning">Inscrever-se</button>
          <a href="https://mariaperegrina.org.br/"type="button" class="btn btn-primary border border-white">conecte-se</a>

        </div>
      </div>
    </div>
  </header>
<!-- SEÇÃO PRINCIPAL -->
<div class="container">
  <div class="row section">
    <div class="col-md-6" style="margin-right: -675px;"> <!-- Reduzindo a margem da direita -->
        <h2>pojeto nota fiscal paulista</h2>
        
 <style>
    .move-paragraph {
      margin-left: -50px; /* Ajuste conforme necessário para mover o parágrafo para a esquerda */
      margin-top: 90px; /* Ajuste conforme necessário */
    }
    </style>
    <p>Na Maria Peregrina, a educação é mais do que um privilégio; é uma missão. Com a visão ousada de proporcionar oportunidades educacionais de qualidade para todas as crianças, independentemente de sua origem socioeconômica, a Maria Peregrina adotou uma abordagem inovadora: transformar simples notas fiscais em recursos valiosos para apoiar o aprendizado.
       Ao coletar notas fiscais de compras realizadas pela comunidade local, a Maria Peregrina encontra uma fonte simples, fácil e rápida de arrecadar fundos. Essas notas fiscais, muitas vezes negligenciadas em nossas carteiras, tornam-se ferramentas poderosas para capacitar crianças com o dom da educação.
        O processo é simples: os membros da comunidade entregam suas notas fiscais para a Maria Peregrina, que as processa de maneira eficiente. Em seguida, por meio de parcerias estratégicas e programas de arrecadação de fundos, o valor total das notas fiscais é convertido em recursos financeiros que são direcionados para garantir que cada criança tenha acesso a uma educação de qualidade, ajudando-as a desenvolverem-se com excelência em seus estudos.
        </p> 
  
    </div>
   <div class="col-md-6" style="margin-left: 0;"></div>
    <div class="col-md-1 position-relative"> <!-- Mantendo a margem à esquerda padrão -->
      <!-- Imagem -->
      <img src="/assets/img1/nota_fiscal_imagen.png" style="width: 733px; height: 485px;">
    </div>
  </div>
</div>

